<!DOCTYPE html>
<html>

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->

  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <script src="/javascripts/index.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <div class="container app">
    <div class="row app-one">
      <div class="col-sm-4 side">
        <div class="side-one">
          <div class="row heading">
            <div class="col-sm-3 col-xs-3 heading-avatar">
              <span id="userid" hidden="true"><%= user.id %></span>
              <div class="heading-avatar-icon">
                <img src="https://bootdey.com/img/Content/avatar/avatar1.png">
              </div>
            </div>
            <div class="col-sm-1 col-xs-1  heading-dot  pull-right">
              <i class="fa fa-ellipsis-v fa-2x  pull-right" aria-hidden="true"></i>
            </div>
            <div class="col-sm-2 col-xs-2 heading-compose  pull-right">
              <i class="fa fa-comments fa-2x  pull-right" aria-hidden="true"></i>
            </div>
          </div>

          <div class="row searchBox">
            <div class="col-sm-12 searchBox-inner">
              <div class="form-group has-feedback">
                <input id="searchText" type="text" class="form-control" name="searchText" placeholder="Search">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
              </div>
            </div>
          </div>
          <!-- Groups -->
          <div class="row sideBar">
            <% if(groupsLen == 0) { %>
              <div class="row sideBar-body">
                Không tìm thấy nhóm chat nào
              </div>
              <% } else { %>
                <% for(let i = 0; i < groupsLen; i++) { %>
                  <div class="row sideBar-body">
                    <div class="col-sm-3 col-xs-3 sideBar-avatar">
                      <div class="avatar-icon">
                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png">
                      </div>
                    </div>
                    <div class="col-sm-9 col-xs-9 sideBar-main">
                      <div class="row">
                        <div class="col-sm-8 col-xs-8 sideBar-name">
                          <span hidden="true" class="chatgroupidindex"><%= groups[i].id %></span>
                          <span class="name-meta chatgroupnameindex"><%= groups[i].name %></span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% } %>
                    <% } %>


                      <!-- <div class="row sideBar-body"> 
              <div class="col-sm-3 col-xs-3 sideBar-avatar">
                <div class="avatar-icon">
                  <img src="https://bootdey.com/img/Content/avatar/avatar2.png">
                </div>
              </div>
              <div class="col-sm-9 col-xs-9 sideBar-main">
                <div class="row">
                  <div class="col-sm-8 col-xs-8 sideBar-name">
                    <span class="name-meta">John Doe
                </span>
                  </div>
                  <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                    <span class="time-meta pull-right">18:18
                </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row sideBar-body">
              <div class="col-sm-3 col-xs-3 sideBar-avatar">
                <div class="avatar-icon">
                  <img src="https://bootdey.com/img/Content/avatar/avatar3.png">
                </div>
              </div>
              <div class="col-sm-9 col-xs-9 sideBar-main">
                <div class="row">
                  <div class="col-sm-8 col-xs-8 sideBar-name">
                    <span class="name-meta">John Doe
                </span>
                  </div>
                  <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                    <span class="time-meta pull-right">18:18
                </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row sideBar-body">
              <div class="col-sm-3 col-xs-3 sideBar-avatar">
                <div class="avatar-icon">
                  <img src="https://bootdey.com/img/Content/avatar/avatar4.png">
                </div>
              </div>
              <div class="col-sm-9 col-xs-9 sideBar-main">
                <div class="row">
                  <div class="col-sm-8 col-xs-8 sideBar-name">
                    <span class="name-meta">John Doe
                </span>
                  </div>
                  <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                    <span class="time-meta pull-right">18:18
                </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row sideBar-body">
              <div class="col-sm-3 col-xs-3 sideBar-avatar">
                <div class="avatar-icon">
                  <img src="https://bootdey.com/img/Content/avatar/avatar5.png">
                </div>
              </div>
              <div class="col-sm-9 col-xs-9 sideBar-main">
                <div class="row">
                  <div class="col-sm-8 col-xs-8 sideBar-name">
                    <span class="name-meta">John Doe
                </span>
                  </div>
                  <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                    <span class="time-meta pull-right">18:18
                </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row sideBar-body">
              <div class="col-sm-3 col-xs-3 sideBar-avatar">
                <div class="avatar-icon">
                  <img src="https://bootdey.com/img/Content/avatar/avatar6.png">
                </div>
              </div>
              <div class="col-sm-9 col-xs-9 sideBar-main">
                <div class="row">
                  <div class="col-sm-8 col-xs-8 sideBar-name">
                    <span class="name-meta">John Doe
                </span>
                  </div>
                  <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                    <span class="time-meta pull-right">18:18
                </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row sideBar-body">
              <div class="col-sm-3 col-xs-3 sideBar-avatar">
                <div class="avatar-icon">
                  <img src="https://bootdey.com/img/Content/avatar/avatar1.png">
                </div>
              </div>
              <div class="col-sm-9 col-xs-9 sideBar-main">
                <div class="row">
                  <div class="col-sm-8 col-xs-8 sideBar-name">
                    <span class="name-meta">John Doe
                </span>
                  </div>
                  <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                    <span class="time-meta pull-right">18:18
                </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row sideBar-body">
              <div class="col-sm-3 col-xs-3 sideBar-avatar">
                <div class="avatar-icon">
                  <img src="https://bootdey.com/img/Content/avatar/avatar2.png">
                </div>
              </div>
              <div class="col-sm-9 col-xs-9 sideBar-main">
                <div class="row">
                  <div class="col-sm-8 col-xs-8 sideBar-name">
                    <span class="name-meta">John Doe
                </span>
                  </div>
                  <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                    <span class="time-meta pull-right">18:18
                </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row sideBar-body">
              <div class="col-sm-3 col-xs-3 sideBar-avatar">
                <div class="avatar-icon">
                  <img src="https://bootdey.com/img/Content/avatar/avatar3.png">
                </div>
              </div>
              <div class="col-sm-9 col-xs-9 sideBar-main">
                <div class="row">
                  <div class="col-sm-8 col-xs-8 sideBar-name">
                    <span class="name-meta">John Doe
                </span>
                  </div>
                  <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                    <span class="time-meta pull-right">18:18
                </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row sideBar-body">
              <div class="col-sm-3 col-xs-3 sideBar-avatar">
                <div class="avatar-icon">
                  <img src="https://bootdey.com/img/Content/avatar/avatar4.png">
                </div>
              </div>
              <div class="col-sm-9 col-xs-9 sideBar-main">
                <div class="row">
                  <div class="col-sm-8 col-xs-8 sideBar-name">
                    <span class="name-meta">John Doe
                </span>
                  </div>
                  <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                    <span class="time-meta pull-right">18:18
                </span>
                  </div>
                </div>
              </div>
            </div>-->
          </div>
        </div>

        <div class="side-two">
          <div class="row newMessage-heading">
            <div class="row newMessage-main">
              <div class="col-sm-2 col-xs-2 newMessage-back">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
              </div>
              <div class="col-sm-10 col-xs-10 newMessage-title">
                New Chat
              </div>
            </div>
          </div>

          <div class="row composeBox">
            <div class="col-sm-12 composeBox-inner">
              <div class="form-group has-feedback">
                <input id="composeText" type="text" class="form-control" name="searchText" placeholder="Search People">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
              </div>
            </div>
          </div>
          <!-- Friends -->
          <div class="row compose-sideBar">
            <% if(friendsLen == 0) { %>
              <div class="row sideBar-body">
                Không tìm thấy ai
              </div>
              <% } else { %>
                <% for(let i = 0; i < friendsLen; i++) { %>
                  <div class="row sideBar-body">
                    <div class="col-sm-3 col-xs-3 sideBar-avatar">
                      <div class="avatar-icon">
                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png">
                      </div>
                    </div>
                    <div class="col-sm-9 col-xs-9 sideBar-main">
                      <div class="row">
                        <div class="col-sm-8 col-xs-8 sideBar-name">
                          <span class="name-meta"><%= friends[i].fullName%></span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% } %>
                    <% } %>
                      <!-- <div class="row sideBar-body"> 
              <div class="col-sm-3 col-xs-3 sideBar-avatar">
                <div class="avatar-icon">
                  <img src="https://bootdey.com/img/Content/avatar/avatar1.png">
                </div>
              </div>
              <div class="col-sm-9 col-xs-9 sideBar-main">
                <div class="row">
                  <div class="col-sm-8 col-xs-8 sideBar-name">
                    <span class="name-meta">John Doe
                </span>
                  </div>
                  <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                    <span class="time-meta pull-right">18:18
                </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="row sideBar-body">
              <div class="col-sm-3 col-xs-3 sideBar-avatar">
                <div class="avatar-icon">
                  <img src="https://bootdey.com/img/Content/avatar/avatar2.png">
                </div>
              </div>
              <div class="col-sm-9 col-xs-9 sideBar-main">
                <div class="row">
                  <div class="col-sm-8 col-xs-8 sideBar-name">
                    <span class="name-meta">John Doe
                </span>
                  </div>
                  <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                    <span class="time-meta pull-right">18:18
                </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row sideBar-body">
              <div class="col-sm-3 col-xs-3 sideBar-avatar">
                <div class="avatar-icon">
                  <img src="https://bootdey.com/img/Content/avatar/avatar3.png">
                </div>
              </div>
              <div class="col-sm-9 col-xs-9 sideBar-main">
                <div class="row">
                  <div class="col-sm-8 col-xs-8 sideBar-name">
                    <span class="name-meta">John Doe
                </span>
                  </div>
                  <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                    <span class="time-meta pull-right">18:18
                </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row sideBar-body">
              <div class="col-sm-3 col-xs-3 sideBar-avatar">
                <div class="avatar-icon">
                  <img src="https://bootdey.com/img/Content/avatar/avatar4.png">
                </div>
              </div>
              <div class="col-sm-9 col-xs-9 sideBar-main">
                <div class="row">
                  <div class="col-sm-8 col-xs-8 sideBar-name">
                    <span class="name-meta">John Doe
                </span>
                  </div>
                  <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                    <span class="time-meta pull-right">18:18
                </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row sideBar-body">
              <div class="col-sm-3 col-xs-3 sideBar-avatar">
                <div class="avatar-icon">
                  <img src="https://bootdey.com/img/Content/avatar/avatar5.png">
                </div>
              </div>
              <div class="col-sm-9 col-xs-9 sideBar-main">
                <div class="row">
                  <div class="col-sm-8 col-xs-8 sideBar-name">
                    <span class="name-meta">John Doe
                </span>
                  </div>
                  <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                    <span class="time-meta pull-right">18:18
                </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row sideBar-body">
              <div class="col-sm-3 col-xs-3 sideBar-avatar">
                <div class="avatar-icon">
                  <img src="https://bootdey.com/img/Content/avatar/avatar6.png">
                </div>
              </div>
              <div class="col-sm-9 col-xs-9 sideBar-main">
                <div class="row">
                  <div class="col-sm-8 col-xs-8 sideBar-name">
                    <span class="name-meta">John Doe
                </span>
                  </div>
                  <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                    <span class="time-meta pull-right">18:18
                </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row sideBar-body">
              <div class="col-sm-3 col-xs-3 sideBar-avatar">
                <div class="avatar-icon">
                  <img src="https://bootdey.com/img/Content/avatar/avatar2.png">
                </div>
              </div>
              <div class="col-sm-9 col-xs-9 sideBar-main">
                <div class="row">
                  <div class="col-sm-8 col-xs-8 sideBar-name">
                    <span class="name-meta">John Doe
                </span>
                  </div>
                  <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                    <span class="time-meta pull-right">18:18
                </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row sideBar-body">
              <div class="col-sm-3 col-xs-3 sideBar-avatar">
                <div class="avatar-icon">
                  <img src="https://bootdey.com/img/Content/avatar/avatar3.png">
                </div>
              </div>
              <div class="col-sm-9 col-xs-9 sideBar-main">
                <div class="row">
                  <div class="col-sm-8 col-xs-8 sideBar-name">
                    <span class="name-meta">John Doe
                </span>
                  </div>
                  <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                    <span class="time-meta pull-right">18:18
                </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row sideBar-body">
              <div class="col-sm-3 col-xs-3 sideBar-avatar">
                <div class="avatar-icon">
                  <img src="https://bootdey.com/img/Content/avatar/avatar4.png">
                </div>
              </div>
              <div class="col-sm-9 col-xs-9 sideBar-main">
                <div class="row">
                  <div class="col-sm-8 col-xs-8 sideBar-name">
                    <span class="name-meta">John Doe
                </span>
                  </div>
                  <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                    <span class="time-meta pull-right">18:18
                </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row sideBar-body">
              <div class="col-sm-3 col-xs-3 sideBar-avatar">
                <div class="avatar-icon">
                  <img src="https://bootdey.com/img/Content/avatar/avatar5.png">
                </div>
              </div>
              <div class="col-sm-9 col-xs-9 sideBar-main">
                <div class="row">
                  <div class="col-sm-8 col-xs-8 sideBar-name">
                    <span class="name-meta">John Doe
                </span>
                  </div>
                  <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                    <span class="time-meta pull-right">18:18
                </span>
                  </div>
                </div>
              </div>
            </div>-->
          </div>
        </div>
      </div>
      <!-- Box Chat -->
      <div class="col-sm-8 conversation">
        <div class="row heading">
          <div class="col-sm-2 col-md-1 col-xs-3 heading-avatar">
            <div class="heading-avatar-icon">
              <img src="https://bootdey.com/img/Content/avatar/avatar6.png">
            </div>
          </div>
          <div class="col-sm-8 col-xs-7 heading-name">
            <a class="heading-name-meta">John Doe
          </a>
            <span class="heading-online">Online</span>
          </div>
          <div class="col-sm-1 col-xs-1  heading-dot pull-right">
            <i class="fa fa-ellipsis-v fa-2x  pull-right" aria-hidden="true"></i>
          </div>
        </div>

        <div class="row message" id="conversation">
          <span id="chatgroupid" hidden="true">50</span>
          <div class="row message-previous">
            <div class="col-sm-12 previous">
              <a onclick="previous(this)" id="ankitjain28" name="20">
            Show Previous Message!
            </a>
            </div>
          </div>
          <!-- chat -->
          <div class="row message-body">
            <div class="col-sm-12 message-main-receiver">
              <div class="receiver">
                <div class="message-text">
                  Hi, what are you doing?!
                </div>
                <!-- <span class="message-time pull-right">
                Sun
              </span> -->
              </div>
            </div>
          </div>

          <div class="row message-body">
            <div class="col-sm-12 message-main-sender">
              <div class="sender">
                <div class="message-text">
                  I am doing nothing man! I am doing nothing man! I am doing nothing man! I am doing nothing man! I am doing nothing man!
                </div>
                <!-- <span class="message-time pull-right">
                Sun
              </span> -->
              </div>
            </div>
          </div>
        </div>
        <!-- Box trả lời -->
        <div class="row reply">
          <div class="col-sm-1 col-xs-1 reply-emojis">
            <i class="fa fa-smile-o fa-2x"></i>
          </div>
          <div class="col-sm-9 col-xs-9 reply-main">
            <textarea class="form-control" rows="1" id="comment"></textarea>
          </div>
          <div class="col-sm-1 col-xs-1 reply-recording">
            <i class="fa fa-microphone fa-2x" aria-hidden="true"></i>
          </div>
          <div id="btnSend" class="col-sm-1 col-xs-1 reply-send">
            <i class="fa fa-send fa-2x" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
  <script>
    const showGroup = () => {
      console.log($('.row.sideBar-body .chatgroupidindex').text());
      // group name
      $('.conversation .heading-name .heading-name-meta')
        .text($('.row.sideBar-body .chatgroupnameindex').text());
      // group body
      $('#conversation').empty().append(`
        <span id="chatgroupid" hidden="true">${$('.row.sideBar-body .chatgroupidindex').text()}</span>
        <div class="row message-previous">
            <div class="col-sm-12 previous">
              <a onclick="previous(this)" id="ankitjain28" name="20">
            Show Previous Message!
            </a>
            </div>
          </div>
      `);
      $.ajax({
        type: 'POST',
        url: '/message/getall',
        data: {
          chatgroupId: +$('.row.sideBar-body .chatgroupidindex').text(),
          limit: 50,
          lastId: 0
        },
        success: function(result, err, xhr) {
          for (let i = xhr.responseJSON.length - 1; i >= 0; i--) {
            appendMess(xhr.responseJSON[i].content, xhr.responseJSON[i].type);
          }
        }
      })
    }
    const appendMess = (mess, type) => {
      const conversation = $('#conversation').append(
        `<div class="row message-body">
            <div class="col-sm-12 message-main-${type}">
              <div class="${type}">
                <div class="message-text">
                  ${mess}
                </div>
                <!-- <span class="message-time pull-right">
                Sun
              </span> -->
              </div>
            </div>
          </div>`
      );
    };
    const saveMessage = (data) => {
      $.ajax({
        type: 'POST',
        url: '/message/create',
        data: {
          chatgroupId: data.chatgroupId,
          userId: data.userId,
          content: data.mess
        },
        success: function(result, err, xhr) {
          if (!err) console.log('save done!');
        }
      })
    }
    const sendMess = (socket) => {
      const mess = $('#comment').val();
      if (mess.trim() !== '') {
        const data = {
          chatgroupId: +$('#chatgroupid').text(),
          userId: +$('#userid').text(),
          mess
        };
        saveMessage(data);
        appendMess(mess, 'sender');
        const msg = JSON.stringify(data);
        socket.emit('chat message', msg);
      }
      $('#comment').val('');
      $('#comment').focus();
    }
    $(function() {
      const domain = config["<%= process.env.NODE_ENV %>" || "local"].domain;
      var socket = io(domain, {
        withCredentials: true
      });
      socket.on('chat message', (msg) => {
        const message = JSON.parse(msg);
        if ($('#chatgroupid').text() == message.chatgroupId) {
          if ($('#userid').text() != message.userId) {
            appendMess(message.mess, 'receiver');
          }
        }
      });
      $('#btnSend').click(() => {
        sendMess(socket);
      });
      $('#comment').keydown((e) => {
        const key = e.which;
        if (key == 13) $('#btnSend').click();
      });
      $('.row.sideBar-body').click(showGroup);
    });
  </script>
</body>

</html>